<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.iutassistant"
    >
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE"/>

    <uses-permission android:name="android.permission.INTERNET"></uses-permission>
    <uses-permission android:name="android.permission.READ_CONTACTS"></uses-permission>
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />



    <application

        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.AppCompat.Light.NoActionBar">


        <activity android:name=".Acitivities.SuperVisionActivity" />
        <activity android:name=".Acitivities.Projects" />
        <activity android:name=".Acitivities.SectionCreation" />
        <activity android:name=".Acitivities.RecordsShowActivity" />
        <activity android:name=".Acitivities.Marks" />
        <activity android:name=".Acitivities.AssignmentReminder" />
        <activity android:name=".Acitivities.ClassReschedulingReminder" />
        <activity android:name=".Acitivities.QuizReschedulingAssignmentAnnoncementActivity" />
        <activity android:name=".Acitivities.AssignmentDeclarationActivity" />
        <activity android:name=".Acitivities.ClassResheduleDeclarationActivity" />
        <activity android:name=".Acitivities.QuizDeclarationActivity" />
        <activity android:name=".Acitivities.ShowAttendance" />
        <activity android:name=".Acitivities.AttendanceSelection" />
        <activity android:name=".Acitivities.AttendanceActivity" />
        <activity android:name=".Acitivities.Profile" />
        <activity android:name=".Acitivities.CourseSelection" />
        <activity android:name=".Acitivities.LogIn" /> <!-- <service -->
        <!--  -->
        <!-- android:name=".MyMessage" -->
        <!-- android:enabled="true" -->
        <!-- android:exported="true" -->
        <!-- &gt;</service> -->
        <service
            android:name=".Services.MyFirebaseMassagingService"
            android:permission="com.google.android.c2dm.permission.SEND"
            >
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>

        <activity android:name=".Acitivities.Message" />
        <activity android:name=".Acitivities.UniversitySelectingClass" />
        <activity
            android:name=".Acitivities.TeachersHomePage"
            android:label="@string/title_activity_teachers_home_page"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".Acitivities.AdminLoginActivity" />
        <activity
            android:name=".Acitivities.home_page_student"
            android:label="@string/title_activity_home_page"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".Acitivities.Welcome" />
        <activity android:name=".Acitivities.splash_screen">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".Acitivities.signup_student" />
        <activity android:name=".Acitivities.MainActivity" />

        <uses-library
            android:name="org.apache.http.legacy"
            android:required="false" />
    </application>

</manifest>